{{ prompt }}

{% if file_path or selection %}
{{ context_section }}
{% endif %}
{% if file_path %}
{{ file_path_section }} {{ file_path }}
{% endif %}
{% if selection %}
{{ selection_section }}
{{ selection }}
{% endif %}