{{ prompt }}

{% if current_file or selected_text or cursor_position or additional_files %}
{{ context_section }}
{% endif %}
{% if current_file %}
{{ file_path_section }} {{ current_file }}
{% endif %}
{% if selected_text %}
{{ selected_text_section }}
{{ selected_text }}
{{ selected_lines_section }} {{ selected_lines }}
{% endif %}
{% if cursor_position %}
{{ cursor_position_section }} {{ cursor_position }}
{% endif %}
{% if additional_files %}
{{ additional_files_section }}
{% for file in additional_files %}- {{ file }}
{% endfor %}{% endif %}